{:deps {org.clojure/clojurescript {:mvn/version "1.10.764"}
        esprit {:mvn/version "0.8.0"}}
 :paths ["src" "resources"]
 :aliases {:build {:main-opts ["-m" "cljs.main"
                               "-co" "@build-opts.edn:@secrets.edn"
                               "-c" "example.core"]}
           :rom {:main-opts ["-m" "esprit.make-rom"]}
           :bootstrap {:main-opts ["-m" "esprit.flash"
                                   "--bootstrap"]}
           :erase {:main-opts ["-m" "esprit.flash"
                               "--erase"]}
           :flash {:main-opts ["-m" "esprit.flash"
                               "-f" "out/main.bin"]}
           :repl {:main-opts ["-m" "cljs.main"
                              "-re" "esprit"
                              "-r"]}}}
